[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
cbor2 = "*"
hypothesis = "*"
pqcrypto = "*"
pytest-cov = "*"
pytest-asyncio = "*"
black = "*"
flake8 = "*"
mypy = "*"
sphinx = "*"
ipfshttpclient = "*"
faker = "*"
pymerkle = "*"
asyncpg = "*"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.11"
